.headerSpan {
  font-size: 3vh;
  display: block;
  color: white;
  font-weight: 500;
  width: 100%;
  text-align: center;
}

.subSpan {
  color: white;
  display: block;
  font-size: small;
  text-align: center;
  width: 100%;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .headerSpan {
    font-size: 1.5vh;
  }

  .subSpan {
    font-size: 1.4vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 1.8vh;
  }

  .subSpan {
    font-size: 1.7vh;
  }
}
