.card {
  animation: coursesMount 2s ease-out 1 normal forwards;
}

.headerSpan {
  font-size: 5vh;
  display: block;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}

/* ANIMATIONS */

@keyframes coursesMount {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .headerSpan {
    font-size: 2vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 2vh;
  }
}
