.formCard {
  width: 50%;
  background-color: white;
  animation: formCardMount 1s ease-out 1 normal forwards;
}

.formGroup {
  box-sizing: border-box;
  padding: 1vh;
}

.formGroup > input {
  width: 100%;
  border: none;
  border-radius: 1vh;
  height: 5vh;
  box-sizing: border-box;
  border-bottom: 1vh solid var(--secondary-color);
}

.formGroup > button {
  width: 100%;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 1vh;
  font-weight: bold;
}

.formGroup > span {
  display: block;
  color: red;
}

.newUserButtonDiv > span {
  display: block;
  color: var(--secondary-color);
  width: 100%;
  text-align: center;
  font-weight: bolder;
}

.passwordIcon {
  color: var(--main-color);
  float: right;
}

.infoText {
  color: var(--secondary-color);
  display: block;
  width: 100%;
  text-align: center;
  font-size: small;
}

@keyframes formCardMount {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .formCard {
    width: 70%;
  }

  .formGroup > input {
    height: 3vh;
    font-size: small;
    border-bottom: 0.5vh solid var(--secondary-color);
  }

  .formGroup > button {
    height: 3vh;
    font-size: 1.5vh;
  }

  .newUserButtonDiv > span {
    font-size: 1.5vh;
  }

  .infoText {
    font-size: 1.3vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .formCard {
    width: 60%;
  }

  .formGroup > input {
    height: 4vh;
    font-size: smaller;
    border-bottom: 0.7vh solid var(--secondary-color);
  }

  .formGroup > button {
    height: 4vh;
    font-size: 1.7vh;
  }

  .newUserButtonDiv > span {
    font-size: 1.8vh;
  }

  .infoText {
    font-size: 1.5vh;
  }
}
