.headerSpan {
  color: var(--main-color);
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}

.noAnnouncmnetsSpan {
  color: var(--main-color);
  width: 100%;
  display: block;
  text-align: center;
  font-size: small;
}

.loadingCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.announcementMsgListItem {
  list-style-type: circle;
  color: var(--main-color);
  width: 100%;
}

/* MOBILE VIEW  */
@media screen and (max-width: 500px) {
  .headerSpan {
    font-size: 2vh;
  }

  .noAnnouncmnetsSpan {
    font-size: 1.5vh;
  }

  .announcementMsgListItem {
    font-size: 1.5vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 2vh;
  }

  .noAnnouncmnetsSpan {
    font-size: 1.8vh;
  }

  .announcementMsgListItem {
    font-size: 1.8vh;
  }
}
