.changeEmailPasswordFormCard{
    background-color: white;
    width: 50%;
}

/* MOBILE VIEW */
@media screen and (max-width:500px) {
    .changeEmailPasswordFormCard{
        width: 70%;
    }
}
/* TABLET VIEW */
@media screen and (min-width:500px) and (max-width:1024px) {
    .changeEmailPasswordFormCard{
        width: 60%;
    }
}