.mainHeaderSpan {
  color: var(--main-color);
  font-size: 3vh;
  display: block;
  width: 100%;
  text-align: center;
}

.buttonContainerDiv {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE VIEW  */
@media screen and (max-width: 500px) {
  .mainHeaderSpan {
    font-size: 2vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .mainHeaderSpan {
    font-size: 2.5vh;
  }
}
