.formGroup {
  box-sizing: border-box;
  padding: 1vh;
}

.formGroup > label {
  color: var(--secondary-color);
  width: 100%;
  display: block;
  text-align: center;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .formGroup > label {
    font-size: 2vh;
  }
}

/* TBALET VIEW  */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .formGroup > label {
    font-size: 2vh;
  }
}
