.formGroup {
  box-sizing: border-box;
  padding: 1vh;
}

.formGroup > label {
  font-weight: bolder;
  color: var(--secondary-color);
  display: block;
  width: 100%;
}

.formGroup > label > span {
  font-weight: lighter;
  font-size: small;
}

.formGroup > input {
  height: 5vh;
  border: none;
  width: 100%;
  border-bottom: 1vh solid var(--secondary-color);
  border-radius: 1vh;
  transition: all 0.3s ease-out;
}

.formGroup > input:hover,
.formGroup > input:focus {
  background-color: rgb(238, 192, 238);
  border-bottom: 1vh solid var(--main-color);
}

.formGroup > span {
  display: block;
  width: 100%;
  font-size: small;
  color: red;
}

.passwordIcon {
  color: var(--main-color);
  float: right;
}
