.headerSpan {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 6vh;
  font-weight: bolder;
  box-sizing: border-box;
  padding: 2vh;
  text-transform: uppercase;
}

.formGroup {
  box-sizing: border-box;
  padding: 1vh;
}

.feedbackCard {
  background-color: white;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
}
.headerSpan {
  font-size: 2vh;
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 2vh;
  }
}
