.headerSpan {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 4vh;
  font-weight: bolder;
  box-sizing: border-box;
  padding: 2vh;
}

.formGroup {
  box-sizing: border-box;
  padding: 1vh;
}

.feedbackCard {
  background-color: white;
  padding: 0vh;
}
