.footerDiv {
  box-sizing: border-box;
  height: 3vh;
  padding: 1vh;
  clear: both;
  width: 100%;
  background-color: var(--main-color);
}

.footerDiv > span {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1vh;
  color: white;
}
