.simpleButton {
  background: var(--main-color);
  border-radius: 1vh;
  border: none;
  height: 5vh;
  margin: 1vh;
  color: white;
}

.simpleButton:hover {
  background: var(--secondary-color);
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .simpleButton {
    height: 3vh;
    font-size: small;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .simpleButton {
    height: 4vh;
    font-size: smaller;
  }
}
