.subBodyDiv {
  clear: both;
}

.subBodyDiv > div {
  width: 25%;
  box-sizing: border-box;
  padding: 1vh;
  height: 30vh;
  float: left;
  background-color: var(--main-color);
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .subBodyDiv > div {
    width: 50%;
    height: 25vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .subBodyDiv > div {
    width: 50%;
    height: 28vh;
  }
}
