.headerSpan {
  display: block;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 2vh;
  font-size: 5vh;
  color: var(--main-color);
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .headerSpan {
    font-size: 3vh;
  }
}
/* TBALET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 3.5vh;
  }
}
