.linkCard {
  height: 5vh;
  background: white;
  width: 90%;
  color: var(--main-color);
  margin: 1vh auto;
  font-weight: 500;
  box-shadow: 0 0 0.5vh var(--main-color);
}

.linkCard:hover {
  background-color: var(--secondary-color);
  color: white;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .linkCard {
    height: 3vh;
    font-size: 1.5vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .linkCard {
    height: 3.5vh;
    font-size: 1.8vh;
   
  }
}
