.firstSpan {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 3vh;
  color: var(--main-color);
  text-transform: uppercase;
}

.secondSpan {
  font-size: 4vh;
  display: block;
  width: 100%;
  text-align: center;
  color: var(--secondary-color);
  font-weight: bolder;
}

.thirdSpan {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.5vh;
  color: var(--main-color);
}

.fourthSpan {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2vh;
  box-sizing: border-box;
  padding: 0.5vh;
  color: var(--main-color);
  text-transform: uppercase;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .firstSpan {
    font-size: 1.5vh;
  }

  .secondSpan {
    font-size: 2vh;
  }

  .thirdSpan {
    font-size: 1vh;
  }

  .fourthSpan {
    font-size: 1.3vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .firstSpan {
    font-size: 1.8vh;
  }

  .secondSpan {
    font-size: 2.5vh;
  }

  .thirdSpan {
    font-size: 1.5vh;
  }

  .fourthSpan {
    font-size: 1.7vh;
  }
}
