.courseCard {
  width: 70%;
  margin: 2vh auto;
  background-color: white;
  max-height: 60vh;
  overflow: auto;
  animation: courseCardMount 2s ease-out 1 normal forwards;
}

.headerSpan {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--main-color);
  font-size: 4vh;
}

.loadingAndErrorCard {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes courseCardMount {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .courseCard {
    width: 90%;
  }

  .headerSpan {
    font-size: 2vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .courseCard {
    width: 70%;
  }
  .headerSpan {
    font-size: 2.5vh;
  }
}
