.singleCourseCard {
  margin: 1vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.singleCourseCard:hover {
  background-color: var(--secondary-color);
}

.singleCourseCard > span {
  width: 50%;
  display: block;
  color: var(--main-color);
  font-size: 3vh;
  font-weight: bolder;
}

.singleCourseCard > div {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.singleCourseCard > div > button {
  width: 40%;
}

.singleCourseCard > div > button:hover {
  background-color: white;
  color: var(--main-color);
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .singleCourseCard > span {
    font-size: 1.7vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .singleCourseCard > span {
    font-size: 2vh;
  }
}
