.displayBoxCard {
  margin: 4vh auto;
  width: 60%;
  background-color: transparent;
  animation: displayBoxMount 1s ease-out normal forwards;
}

.errorSpan {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
}

@keyframes displayBoxMount {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .displayBoxCard {
    width: 90%;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .displayBoxCard {
    width: 60%;
  }
}
