.headerSpan {
  color: var(--main-color);
  font-size: 5vh;
  font-weight: medium;
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

.descSpan {
  display: block;
  color: var(--secondary-color);
  font-size: 2vh;
  text-align: center;
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .headerSpan {
    font-size: 2vh;
  }
  .descSpan {
    font-size: 1.5vh;
  }
}
/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 2.5vh;
  }
  .descSpan {
    font-size: 1.8vh;
  }
}
