.headerSpan {
  color: var(--main-color);
  display: block;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
  text-transform: uppercase;
}

.orderedList > li {
  color: var(--main-color);
}

/* MOBILE VIEW */
@media screen and (max-width: 500px) {
  .headerSpan {
    font-size: 2vh;
  }

  .orderedList > li {
    color: var(--main-color);
    font-size: 1.5vh;
  }
}

/* TABLET VIEW */
@media screen and (min-width: 500px) and (max-width: 1024px) {
  .headerSpan {
    font-size: 2vh;
  }

  .orderedList > li {
    color: var(--main-color);
    font-size: 1.8vh;
  }
}
