.navBarDiv {
  min-height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-color);
  box-sizing: border-box;
}
.navBarDiv > div {
  width: 100%;
}

.navBarDiv > div > div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.menuIcon {
  height: 5vh;
  color: white;
  margin: 1vh;
  display: none;
}

.navBarDiv > nav > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navBarDiv > nav > ul > li {
  list-style-type: none;
  margin: 1vh;
  color: white;
  font-size: 3vh;
  font-weight: bold;
}

.mainHeader {
  color: white;
  font-size: 5vh;
  font-weight: bold;
  margin: 1vh;
}
.logoImage {
  border-radius: 2vh;
  margin: 1vh;
}

.navBarDiv > nav > ul > li > a {
  text-decoration: none;
  color: white;
}

.activeClassName {
  border-bottom: 1vh solid white;
}

.navBarDiv > nav > ul > li > button {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  border-radius: 1vh;
  border: none;
}

.profileImgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImg {
  border-radius: 5vh;
  box-sizing: border-box;
  margin-top: 1vh;
  box-shadow: 0 0 1vh black;
}

.mobileViewDiv {
  display: none;
  width: 100%;
}

.mobileViewUnOrderedList > li {
  list-style-type: none;
  margin-bottom: 1vh;
  color: white;
  font-size: 2.5vh;
  font-weight: 500;
}
.mobileViewUnOrderedList > li > a {
  text-decoration: none;
  color: white;
  font-size: 2.5vh;
  font-weight: 500;
}

.mobileViewProfileImg {
  border-radius: 1vh;
  box-shadow: 0 0 1vh black;
  margin-left: 0.8vh;
}

/* FIT FOR TABLET AND PHONE ALSO */
@media screen and (max-width: 1024px) {
  .navBarDiv {
    height: fit-content;
    width: 100%;
    background-color: var(--main-color);
    box-sizing: border-box;
    display: block;
    padding: 1vh;
  }

  .mainHeader {
    font-size: 3vh;
  }
  .logoImage {
    border-radius: 1vh;
    margin: 1vh;
    width: 4vh;
  }

  .navBarDiv > nav {
    display: none;
  }
  .navBarDiv > div:first-of-type {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .menuIcon {
    display: block;
  }
}
